In [3]:
from src.flight_analysis.scrape import Scrape

In [4]:
flights = Scrape("MUC", "JFK", "2023-10-28")
flights.run_scrape()

In [5]:
flights.data

,departure_datetime,arrival_datetime,airlines,travel_time,origin,destination,layover_n,layover_time,layover_location,price_eur,price_trend,price_value,access_date,one_way,has_train,days_advance
0,2023-10-28 14:05:00,2023-10-28 19:10:00,[Icelandair],665,MUC,JFK,1,60.0,KEF,511,typical,None,2023-08-05 14:15:47.524003,True,False,83
1,2023-10-28 09:55:00,2023-10-28 20:20:00,[LOT],985,MUC,JFK,1,320.0,WAW,627,typical,None,2023-08-05 14:15:47.524028,True,False,83
2,2023-10-28 11:50:00,2023-10-28 16:35:00,[KLMDelta],645,MUC,JFK,1,70.0,AMS,706,typical,None,2023-08-05 14:15:47.524034,True,False,83
3,2023-10-28 11:00:00,2023-10-28 20:20:00,"[Lufthansa, LOT]",920,MUC,JFK,1,260.0,WAW,658,typical,None,2023-08-05 14:15:47.524039,True,False,83
4,2023-10-28 10:25:00,2023-10-28 23:48:00,"[Delta, Virgin Atlantic]",1163,MUC,JFK,1,389.0,ATL,670,typical,None,2023-08-05 14:15:47.524045,True,False,83
5,2023-10-28 07:00:00,2023-10-28 15:25:00,[KLMDelta],865,MUC,JFK,1,290.0,AMS,706,typical,None,2023-08-05 14:15:47.524050,True,False,83
6,2023-10-28 11:25:00,2023-10-28 19:20:00,[Aer Lingus],835,MUC,JFK,1,220.0,DUB,787,typical,None,2023-08-05 14:15:47.524055,True,False,83
7,2023-10-28 14:05:00,2023-10-28 19:15:00,[KLMDelta],670,MUC,JFK,1,95.0,AMS,812,typical,None,2023-08-05 14:15:47.524060,True,False,83
8,2023-10-28 09:00:00,2023-10-28 14:25:00,"[Lufthansa, Condor]",685,MUC,JFK,1,105.0,FRA,830,typical,None,2023-08-05 14:15:47.524066,True,False,83
9,2023-10-28 12:10:00,2023-10-28 15:00:00,"[Lufthansa, United]",530,MUC,JFK,0,NaN,None,1317,typical,None,2023-08-05 14:15:47.524070,True,False,83

In [10]:
df = flights.data
df

,departure_datetime,arrival_datetime,airlines,travel_time,origin,destination,layover_n,layover_time,layover_location,price_eur,price_trend,price_value,access_date,one_way,has_train,days_advance
0,2023-10-28 14:05:00,2023-10-28 19:10:00,[Icelandair],665,MUC,JFK,1,60.0,KEF,511,typical,None,2023-08-05 14:15:47.524003,True,False,83
1,2023-10-28 09:55:00,2023-10-28 20:20:00,[LOT],985,MUC,JFK,1,320.0,WAW,627,typical,None,2023-08-05 14:15:47.524028,True,False,83
2,2023-10-28 11:50:00,2023-10-28 16:35:00,[KLMDelta],645,MUC,JFK,1,70.0,AMS,706,typical,None,2023-08-05 14:15:47.524034,True,False,83
3,2023-10-28 11:00:00,2023-10-28 20:20:00,"[Lufthansa, LOT]",920,MUC,JFK,1,260.0,WAW,658,typical,None,2023-08-05 14:15:47.524039,True,False,83
4,2023-10-28 10:25:00,2023-10-28 23:48:00,"[Delta, Virgin Atlantic]",1163,MUC,JFK,1,389.0,ATL,670,typical,None,2023-08-05 14:15:47.524045,True,False,83
5,2023-10-28 07:00:00,2023-10-28 15:25:00,[KLMDelta],865,MUC,JFK,1,290.0,AMS,706,typical,None,2023-08-05 14:15:47.524050,True,False,83
6,2023-10-28 11:25:00,2023-10-28 19:20:00,[Aer Lingus],835,MUC,JFK,1,220.0,DUB,787,typical,None,2023-08-05 14:15:47.524055,True,False,83
7,2023-10-28 14:05:00,2023-10-28 19:15:00,[KLMDelta],670,MUC,JFK,1,95.0,AMS,812,typical,None,2023-08-05 14:15:47.524060,True,False,83
8,2023-10-28 09:00:00,2023-10-28 14:25:00,"[Lufthansa, Condor]",685,MUC,JFK,1,105.0,FRA,830,typical,None,2023-08-05 14:15:47.524066,True,False,83
9,2023-10-28 12:10:00,2023-10-28 15:00:00,"[Lufthansa, United]",530,MUC,JFK,0,NaN,None,1317,typical,None,2023-08-05 14:15:47.524070,True,False,83

In [7]:
flights._url

'https://www.google.com/travel/flights?q=Flights%20to%20JFK%20from%20MUC%20on%202023-10-28%20oneway&curr=EUR&gl=IT'

In [8]:
import pandas as pd
from src.flight_analysis.database import Database
import private.private as private

db = Database(
    db_host=private.DB_HOST,
    db_name=private.DB_NAME,
    db_user=private.DB_USER,
    db_pw=private.DB_PW,
)
db

Database: flight_analysis

In [9]:
# this process is to retroactively split the flight airlines into a separate "scraped_airlines" table,
# in order to violate the 1NF and 2NF rules of database normalization.

raise NotImplementedError("This script is not meant to be run again!!!!!")

import pandas as pd
from src.flight_analysis.database import Database
import private.private as private

# db = Database(
#     db_host=private.DB_HOST,
#     db_name=private.DB_NAME,
#     db_user=private.DB_USER,
#     db_pw=private.DB_PW,
# )

query = "SELECT id, airlines FROM scraped"

cur = db.conn.cursor()
cur.execute(query)

res = cur.fetchall()

df = pd.DataFrame(res, columns=["flight_uuid", "airline"])

df2 = df.explode("airline")
df2["airline"] = df2["airline"].map(lambda x: x.lstrip("'").rstrip("'"))
df2["airline"] = df2["airline"].replace({"Separate tickets booked together": "multiple"})
df2 = df2.reset_index(drop=True)

def split_dataframe(df, chunk_size = 5000): 
    chunks = list()
    num_chunks = len(df) // chunk_size + 1
    for i in range(num_chunks):
        chunks.append(df[i*chunk_size:(i+1)*chunk_size])
    return chunks

chunks = split_dataframe(df2, chunk_size = 5000)

i = 1
for c in chunks:
    print(i, "/", len(chunks))
    db.add_pandas_df_to_db(c, table_name=db.table_scraped_airlines)
    i += 1

NotImplementedError: This script is not meant to be run again!!!!!