In [1]:
from src.flight_analysis.scrape import Scrape

In [2]:
flights = Scrape("MUC", "JFK", "2023-10-28")
flights.run_scrape()

In [3]:
flights.data

,departure_datetime,arrival_datetime,airlines,travel_time,origin,destination,layover_n,layover_time,layover_location,price_eur,price_trend,price_value,access_date,one_way,has_train,days_advance
0,2023-10-28 14:05:00,2023-10-28 19:10:00,[Icelandair],665,MUC,JFK,1,60.0,KEF,511,typical,None,2023-08-03 19:44:53.852230,True,False,85
1,2023-10-28 09:55:00,2023-10-28 20:20:00,[LOT],985,MUC,JFK,1,320.0,WAW,627,typical,None,2023-08-03 19:44:53.852262,True,False,85
2,2023-10-28 11:50:00,2023-10-28 16:35:00,[KLMDelta],645,MUC,JFK,1,70.0,AMS,706,typical,None,2023-08-03 19:44:53.852267,True,False,85
3,2023-10-28 11:00:00,2023-10-28 20:20:00,"[Lufthansa, LOT]",920,MUC,JFK,1,260.0,WAW,586,typical,None,2023-08-03 19:44:53.852273,True,False,85
4,2023-10-28 10:25:00,2023-10-28 23:37:00,"[Delta, Virgin Atlantic]",1152,MUC,JFK,1,385.0,ATL,670,typical,None,2023-08-03 19:44:53.852278,True,False,85
5,2023-10-28 11:30:00,2023-10-28 21:40:00,"[Delta, Virgin Atlantic, KLM]",970,MUC,JFK,1,270.0,DTW,723,typical,None,2023-08-03 19:44:53.852282,True,False,85
6,2023-10-28 11:25:00,2023-10-28 19:20:00,[Aer Lingus],835,MUC,JFK,1,220.0,DUB,787,typical,None,2023-08-03 19:44:53.852287,True,False,85
7,2023-10-28 14:05:00,2023-10-28 19:15:00,[KLMDelta],670,MUC,JFK,1,95.0,AMS,812,typical,None,2023-08-03 19:44:53.852291,True,False,85
8,2023-10-28 09:00:00,2023-10-28 14:25:00,"[Lufthansa, Condor]",685,MUC,JFK,1,105.0,FRA,830,typical,None,2023-08-03 19:44:53.852296,True,False,85
9,2023-10-28 12:10:00,2023-10-28 15:00:00,"[Lufthansa, United]",530,MUC,JFK,0,NaN,None,1316,typical,None,2023-08-03 19:44:53.852300,True,False,85

In [6]:
flights._url

'https://www.google.com/travel/flights?q=Flights%20to%20JFK%20from%20MUC%20on%202023-10-28%20oneway&curr=EUR&gl=IT'

In [7]:
import private.private as private
from src.flight_analysis.database import Database

db = Database(
    db_host=private.DB_HOST,
    db_name=private.DB_NAME,
    db_user=private.DB_USER,
    db_pw=private.DB_PW,
    db_table=private.DB_TABLE,
)

db

cursor = db.conn.cursor()
cursor.execute(f"SELECT * FROM {self.db_name}")

for row in cursor:
    print(row)
    break