In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from src.google_flight_analysis.scrape import *

In [2]:
x = Scrape("MUC", "LAX", "2023-11-28")

In [3]:
x.data

,Departure datetime,Arrival datetime,Airline(s),Travel Time,Origin,Destination,Num Stops,Layover,Stops Location,Price (€),Price Trend,Price Value,Access Date,Flight Type,Days in Advance
0,2023-11-28 21:20:00,2023-11-29 14:10:00,"easyJet, Norse Atlantic UK",25:50,MUC,LAX,1,12:10,LGW,400,low,61,2023-05-26 12:58:26,One Way,186
1,2023-11-28 07:00:00,2023-11-28 11:50:00,KLMDelta,13:50,MUC,LAX,1,01:05,AMS,663,low,61,2023-05-26 12:58:26,One Way,185
2,2023-11-28 07:00:00,2023-11-28 13:00:00,Air FranceDelta,15:00,MUC,LAX,1,01:25,CDG,665,low,61,2023-05-26 12:58:26,One Way,185
3,2023-11-28 11:00:00,2023-11-28 20:45:00,Delta,18:45,MUC,LAX,1,02:44,ATL,660,low,61,2023-05-26 12:58:26,One Way,185
4,2023-11-28 11:00:00,2023-11-28 21:46:00,"DeltaVirgin Atlantic, KLM",19:46,MUC,LAX,1,03:44,ATL,660,low,61,2023-05-26 12:58:26,One Way,185
5,2023-11-28 10:50:00,2023-11-28 19:10:00,"Air France, Delta",17:20,MUC,LAX,1,03:20,CDG,664,low,61,2023-05-26 12:58:26,One Way,185
6,2023-11-28 15:25:00,2023-11-28 21:00:00,Air FranceDelta,14:35,MUC,LAX,1,01:05,CDG,749,low,61,2023-05-26 12:58:26,One Way,186
7,2023-11-28 10:50:00,2023-11-28 18:35:00,Aer Lingus,16:45,MUC,LAX,1,02:45,DUB,768,low,61,2023-05-26 12:58:26,One Way,185
8,2023-11-28 17:35:00,2023-11-29 20:20:00,"Lufthansa, LOT",35:45,Flight + Train,Flight + Train,3,"ZAQ, FRA, WAW","ZAQ, FRA, WAW",1352,low,61,2023-05-26 12:58:26,One Way,186
9,2023-11-28 17:35:00,2023-11-29 20:20:00,"Lufthansa, LOT",35:45,Flight + Train,Flight + Train,3,"ZAQ, FRA, WAW","ZAQ, FRA, WAW",1352,low,61,2023-05-26 12:58:26,One Way,186
10,2023-11-28 12:00:00,2023-11-28 15:15:00,LufthansaUnited,12:15,MUC,LAX,0,None,None,1467,low,61,2023-05-26 12:58:26,One Way,185

In [14]:
x.url

'https://www.google.com/travel/flights?q=Flights%20to%20LAX%20from%20MUC%20on%202023-11-28%20oneway'